include ../bemto/bemto.pug

+b('footer').footer
  +e('aside').side
    +e('span').copy © «Дары Кубани», 2018
    +b.socials
      +e('ul').list._small
        +e.item
          +e.href(href="https://www.youtube.com/channel/UCGqhhu66TULzwONmyw6TNAg", target="_blank", data-type="yt")
        +e.item
          +e.href(href="https://www.facebook.com/sok.darykubany", target="_blank", data-type="fb")
        +e.item
          +e.href(href="https://vk.com/darykubany", target="_blank", data-type="vk")
        +e.item
          +e.href(href="https://ok.ru/group/53534924275807", target="_blank", data-type="id")
        +e.item
          +e.href(href="https://www.instagram.com/darykubany/", target="_blank", data-type="inst")
  +e.dextra(href="https://www.dextra.ru/", target="_blank")
    span dextra
    | Разработка<br>сайта