include ../bemto/bemto.pug

+b('header').header

  +b.logo(href="#")
    +e.img(src="img/logo.png", alt="")

  +b.burger.js-burger(type="button", aria-label="открыть мобильное меню")
    +e('span').meat

  span.burger__shadow
  
  +e('section').popup
    +e.popup-inner
      +e.popup-col
        +e('ul').popup-list
          +e.popup-item
            +e.popup-href(href="/about.html") О бренде
          +e.popup-item
            +e.popup-href(href="/catalog.html") Вкусы
          +e.popup-item
            +e.popup-href(href="/news.html") Новости
      +e.popup-col
        +e('ul').popup-list
          +e.popup-item
            +e.popup-href(href="/videos.html") Видео
          +e.popup-item
            +e.popup-href(href="/contacts.html") Контакты
          +e.popup-item
            +e.popup-href(href="/where.html") Где купить
      +e.popup-col
        +b('section').socials
          +e('p').title А еще вы можете найти много полезной информации в наших группах в социальных сетях
            span  и&nbsp;
              a(href="/page404.html#wantgame").socials__title-href принять участие
              |  в сборе урожая
            | .
          +e('ul').list
            +e.item
              +e.href(href="https://www.youtube.com/channel/UCGqhhu66TULzwONmyw6TNAg", target="_blank", data-type="yt")
            +e.item
              +e.href(href="https://www.facebook.com/sok.darykubany", target="_blank", data-type="fb")
            +e.item
              +e.href(href="https://vk.com/darykubany", target="_blank", data-type="vk")
            +e.item
              +e.href(href="https://ok.ru/group/53534924275807", target="_blank", data-type="id")
            +e.item
              +e.href(href="https://www.instagram.com/darykubany/", target="_blank", data-type="inst")