include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
  
    +b('main').content.bgfixed(style="background-image: url('img/about-map.jpg')")
      .container
        h1 Вкусы
        +b('section').breadcrumbs
          +e.href(href="/") Главная
          +e('span').delim / 
      
        +b('section').catalog
          +e('section').elem
            +e.elem-img(src="img/catelem1.png")
            +e.elem-row
              +e.elem-col
              +e.elem-col
                +e.elem-info
                  +e.elem-href(href="/apple-juice.html") 
                    span Яблоко
                  +e('p').elem-description Есть такое словосочетание «яблоки медовые». Оно точно про яблоки с Кубани.
            +e.elem-row
              +e.elem-col
                +e.img._img1(src="img/catimg1.jpg")
              +e.elem-col
                +e.img._img2(src="img/catimg2.jpg")
          +e('section').elem
            +e.elem-img(src="img/catelem2.png")
            +e.elem-row
              +e.elem-col
                +e.img._img3(src="img/catimg3.jpg")
              +e.elem-col
            +e.elem-row
              +e.elem-col
                +e.img._img4(src="img/catimg4.jpg")
              +e.elem-col
                +e.elem-info
                  +e.elem-href(href="/cherry-juice.html") 
                    span Вишня/Яблоко
                  +e('p').elem-description Мы смешиваем вишню с яблоком, чтобы смягчить сладостью яркость вишневого вкуса.
          +e('section').elem
            +e.elem-img(src="img/catelem3.png")
            +e.elem-row
              +e.elem-col
                +e.elem-info
                  +e.elem-href(href="/orange-juice.html") 
                    span Апельсин
                  +e('p').elem-description Апельсины не растут на Кубани, но именно через Черное море и порты Краснодарского края они оказываются в нашей стране. 
              +e.elem-col
                +e.img._img5(src="img/catimg5.jpg")
            +e.elem-row
              +e.elem-col
                +e.img._img6(src="img/catimg6.jpg")
              +e.elem-col
          +e('section').elem
            +e.elem-img(src="img/catelem4.png")
            +e.elem-row
              +e.elem-col
                +e.elem-info
                  +e.elem-href(href="/grapes-juice.html") 
                    span Виноград/Яблоко
                  +e('p').elem-description Объединив виноград и яблоко в одном нектаре, мы повторили то, что сделала сама природа, наделив Кубань таким благоприятным для фруктов и ягод климатом. 
              +e.elem-col
            +e.elem-row
              +e.elem-col
                +e.img._img7(src="img/catimg7.jpg")
              +e.elem-col
                +e.img._img8(src="img/catimg8.jpg")
          +e('section').elem
            +e.elem-img(src="img/catelem5.png")
            +e.elem-row
              +e.elem-col
              +e.elem-col
                +e.img._img9(src="img/catimg9.jpg")
            +e.elem-row
              +e.elem-col
                +e.elem-info
                  +e.elem-href(href="/tomato-juice.html") 
                    span Томат
                  +e('p').elem-description Испокон веков Кубань славилась своими томатами.
              +e.elem-col
                +e.img._img10(src="img/catimg10.jpg")
          +e('section').elem
            +e.elem-img(src="img/catelem6.png")
            +e.elem-row
              +e.elem-col
              +e.elem-col
                +e.img._img11(src="img/catimg11.jpg")
            +e.elem-row
              +e.elem-col
                +e.img._img12(src="img/catimg12.jpg")
              +e.elem-col
                +e.elem-info
                  +e.elem-href(href="/peach-juice.html") 
                    span Персик/Яблоко
                  +e('p').elem-description Персик цветет нежно розовым цветом, сохраняя в своем аромате первозданную нежность своих цветков.
          +e('section').elem
            +e.elem-img(src="img/catelem1.png")
            +e.elem-row
              +e.elem-col
                +e.elem-info
                  +e.elem-href(href="/multi-juice.html") 
                    span Мультифрукт
                  +e('p').elem-description Экзотические фрукты пленяют своими необычными названиями и огромными пространствами, разделяющими нашу страну и места их роста.
              +e.elem-col
            +e.elem-row
              +e.elem-col
                +e.img._img14(src="img/catimg14.jpg")
              +e.elem-col
                +e.img._img13(src="img/catimg13.jpg")

    include layout/__footer
    include layout/__scripts