include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body.index
    include layout/__header
  
    +b('main').content
      +b('span').informer.js-load-informer Загрузка 0%
      +b('span').informer_middle Крутите вниз
      +b.icat(href="#") Перейти в&nbsp;каталог
      
      +b('section').preloader.js-loader
        +e.imgover
          +e.img(src="img/preloader.gif")
        
      +b('section').opening
        - var n = 0;
        while n < 67
          +e.img.js-opening-img(src="img/load/" + (n++) + ".png")
          
      +b('section').bg
        +e.left.js-bgleft(style="background-image: url('img/ileft.jpg')")
          +e('span').table(style="background-image: url('img/table.jpg')")
          img.handler__img.js-leftImg(src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7")
        +e.right.js-bgright(style="background-image: url('img/iright.jpg')")
          img.handler__img.js-rightImg(src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7")
        +e.right_f(style="background-image: url('img/iright_clear.jpg')")
      
      span.progress.js-progress
          
      +b('section').handler.js-img-handler
        +e.texts
          +e('section').text_text1
            +e('p').text-title 
              span Все солнце Кубани 
              span в наших соках.
            +e('p').text-dsc Наши соки до краев наполнены «вкусом кубанского солнца». Вспомните ваше лето! Сделайте глоток солнечного дня!
          +e('section').text_text2
            +e('p').text-title 
              span Самый южный 
              span регион России.
            +e('p').text-dsc Кубань – это лето России. Кубанское светлое солнце, плодородная земля, ласковые ветры и теплые летние дожди создают самый благоприятный мир для роста и созревания овощей, ягод и фруктов. 
          +e('section').text_text3
            +e('p').text-title 
              span Наши фрукты
              span впитывают в себя
              span все лето!
          +e('section').text_text4
            +e('p').text-title 
              span И мы 
              span сохраняем 
              span это лето...
          +e('section').text_text5
            +e('p').text-title 
              span ... в наших
              span соках!
          +e('section').text_text6  
            +e('p').text-title 
              span Оцените все
              span многообразие
              span вкусов.
            +e('p').text-dsc Полезные соки и нектары из ягод, фруктов и овощей на любой вкус.
              
      +b('section').products
        +e.mobile
          +e('p').mobile-title 
            span Вспомните ваше
            span лето! Сделайте
            span глоток солнечного
            span дня!
        +e.car.swiper-container.js-iproducts
          .swiper-wrapper
            .swiper-slide
              +e.href(href="#")
                +e.img(src="img/iproducts1.png")
            .swiper-slide
              +e.href(href="#")
                +e.img(src="img/iproducts2.png")
            .swiper-slide
              +e.href(href="#")
                +e.img(src="img/iproducts3.png")
            .swiper-slide
              +e.href(href="#")
                +e.img(src="img/iproducts4.png")
            .swiper-slide
              +e.href(href="#")
                +e.img(src="img/iproducts5.png")
            .swiper-slide
              +e.href(href="#")
                +e.img(src="img/iproducts6.png")
            .swiper-slide
              +e.href(href="#")
                +e.img(src="img/iproducts7.png")
        .swiper-button-prev
        .swiper-button-next
          
    .js-imgloader
      img(src="img/ileft.jpg")
      img(src="img/table.jpg")
      img(src="img/iright.jpg")
      img(src="img/iright_clear.jpg")

      - var n = 1;
      while n < 35
        img(src="img/main/" + (n++) + ".png")
       
      img(src="img/main/36_left.png")
      img(src="img/main/36_right.png")
      
      - var n = 37;
      while n < 61
        img(src="img/main/" + (n++) + ".png")
      
      img(src="img/main/61_left.png")
      img(src="img/main/61_right.png")
       
      - var n = 62;
      while n < 101
        img(src="img/main/" + (n++) + ".png")
       
          
    include layout/__scripts