.preloader
  dfv(center, center)
  pos fixed
  z-index 5
  full()
  &__imgover
    pos relative
    &:before
      content ""
      pos absolute
      t -60px
      l 50%
      size 97px 19px
      ml -49px
      background url('../i/preload_top.jpg') no-repeat center
    &:after
      content ""
      pos absolute
      b -70px
      l 50%
      size 195px 44px
      ml -98px
      background url('../i/preload_bottom.jpg') no-repeat center
  
.informer
  pos fixed
  z-index 6
  w 158px
  white-space nowrap
  r -104px
  b 54px
  pl 61px
  font-family $sans
  fontify 11px 700 11px
  text-transform uppercase
  letter-spacing .12em
  transform rotate(-90deg)
  transform-origin left bottom
  overflow hidden
  transition .7s visibility, .7s color, .7s opacity
  &_middle
    dn()
  &:before
    content ""
    pos absolute
    l 0
    t 4px
    background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAABAQMAAACmH2/xAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABlBMVEUAAAD///+l2Z/dAAAAAWJLR0QB/wIt3gAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAtJREFUCNdjYIAAAAAIAAEvIN0xAAAAAElFTkSuQmCC') no-repeat 0 0
    size 50px 1px
    animation line 2s infinite ease-in-out 
    transition .7s background
    
@keyframes line {
  from {
    background-position 50px 0 
  }
  to {
    background-position -50px 0 
  }
}

.opening
  pos fixed
  z-index 4
  full()
  &__img
    pos fixed
    t 50%
    l 50%
    mt -720px
    ml -1280px
    dn()
    &:first-child
      db()

.bg
  pos fixed
  z-index 1
  bgc black
  full()
  df(stretch)
  &__left,
  &__right
    pos fixed
    h 100vh
    t 0
    overflow hidden
    background-position center bottom
    background-attachment fixed
    background-repeat no-repeat
    background-size cover
  &__left
    l 0
    w 0
    dfv(center, flex-end)
    .handler__img
      l calc((100vw - 2217px) / 2)
  &__right
    &:not(&_f)
      dn()
    w 0
    transition .7s filter
    r 0
    .handler__img
      r calc((100vw - 2217px) / 2)
    &_f
      w 100%
      flex-grow 1
      opacity .5
  &__table
    size 2880px 70px
    background-position center bottom
    background-attachment fixed
    background-repeat no-repeat
  
body.iload
  .informer
    db()
    &:not(.informer_middle)
      dn()
    color white
    &:before
      background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAABAQMAAACmH2/xAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAA1BMVEX///+nxBvIAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAtJREFUCNdjYIAAAAAIAAEvIN0xAAAAAElFTkSuQmCC')
          
body.scroll 
  .bg__right
    w 100%
    db()
  .bg__right_f
    w 0
    
.handler
  pos relative
  z-index 2
  h 0px
  &__fixer
    pos absolute
    t 0
    l 0
    w 100%
    h 100vh
    pointer-events none
    overflow hidden
  &__img
    pos absolute
    b 0
    //transform translateX(-50%)
    &.hide
      dn()
  &__texts
    &.text1
      & ^[0]__text_text1
        visibility visible
        opacity 1
        span
          opacity 1
          clip-path polygon(100% 0, 100% 100%, 0 100%, 0 0)
          transition 2.7s clip-path, .75s opacity
        .handler__text-dsc
          opacity 1
          b 0
          transition-delay 1.7s
    &.text2
      & ^[0]__text_text2
        visibility visible
        opacity 1
        span
          opacity 1
          clip-path polygon(100% 0, 100% 100%, 0 100%, 0 0)
        .handler__text-dsc
          opacity 1
          b 0
          transition-delay .75s
    &.text3
      & ^[0]__text_text3
        visibility visible
        opacity 1
        span
          opacity 1
          clip-path polygon(100% 0, 100% 100%, 0 100%, 0 0)
        .handler__text-dsc
          opacity 1
          b 0
          transition-delay .75s
    &.text4
      & ^[0]__text_text4
        visibility visible
        opacity 1
        span
          opacity 1
          clip-path polygon(100% 0, 100% 100%, 0 100%, 0 0)
        .handler__text-dsc
          opacity 1
          b 0
          transition-delay .75s
    &.text5
      & ^[0]__text_text5
        visibility visible
        opacity 1
        span
          opacity 1
          clip-path polygon(100% 0, 100% 100%, 0 100%, 0 0)
        .handler__text-dsc
          opacity 1
          b 0
          transition-delay .75s
    &.text6
      & ^[0]__text_text6
        visibility visible
        opacity 1
        span
          opacity 1
          clip-path polygon(100% 0, 100% 100%, 0 100%, 0 0)
        .handler__text-dsc
          opacity 1
          b 0
          transition-delay .75s
  &__text
    pos fixed
    w 100%
    visibility hidden
    opacity 0
    color white
    text-align center
    transition .75s opacity, .75s visibility
    &_text1
      max-width 1158px
      t 50%
      l 50%
      transform translate(-50%, -50%)
      .handler__text-title
        fontify 160px 400 179px
        mb 0
        span + span
          t -30px
      .handler__text-dsc
        max-width 993px
        margin 0 auto
    &_text2
      max-width 642px
      l 27%
      b 18%
    &_text3
      max-width 762px
      r 12%
      t 12%
    &_text4
      max-width 762px
      r 12%
      t 12%
    &_text5
      max-width 425px
      l 15%
      b 18%
    &_text6
      max-width 530px
      r 24%
      t 19%
    &-title
      font-family $lf
      fontify 100px 400 112px
      mb 30px
      span
        pos relative
        white-space nowrap
        db()
        w 100%
        clip-path polygon(100% 0, 100% 100%, 0 100%, 0 100%)
        opacity 0
        transition .75s clip-path, .75s opacity
        & + span
          mt -10px
    &-dsc
      pos relative
      b -20px
      fontify 28px 400 36px
      opacity 0
      transition .75s opacity, .75s bottom
    
.progress
  pos fixed
  z-index 3
  l 0
  t 0
  w 0
  h 0
  bgc #2b7308
    
.products
  pos fixed
  dfv(center, flex-end)
  full()
  z-index -1
  pb 59px
  opacity 0
  transition .7s opacity
  &__car
    max-width 1032px
    margin 0 auto
    &.swiper-container
      overflow visible
    .swiper-slide
      text-align center
  .swiper-button-prev
    l 54px
  .swiper-button-next
    r 54px
  &__img
    pos relative
    t 0
    transform scale(1)
    will-change transform
    transition .7s transform, .7s top
    &:hover
      transform scale(1.05)
      t -20px
    
.icat
  opacity 0
  visibility hidden
  pos fixed
  z-index 6
  r 0
  b 0
  size 130px
  color black
  bgc white
  font-family $sans
  fontify 11px 700 17px
  text-transform uppercase
  letter-spacing .12em
  padding 27px 30px
  transition .7s opacity, .7s visibility
  &:after
    content ""
    pos absolute
    size 33px 17px
    l 31px
    b 28px
    background-image url('../i/arr_sprite.png')
    background-repeat no-repeat
    background-position 0 0
  &:hover:after
    animation arrAnimation 2s infinite steps(30)
    

@keyframes arrAnimation {
  0% {
    background-position 0 0
  }
  100% {
    background-position 0 -510px
  }
}
    
body.scrollEnd 
  .products
    opacity 1
    z-index 2
  .handler,
  .handler__img
    opacity 0
    transition .7s opacity
  .informer
    visibility hidden
    opacity 0
    //transition-delay .7s
  .icat
    opacity 1
    visibility visible
  
    
@keyframes titleAnimation {
  0% {
    opacity 0
    clip-path polygon(100% 0, 100% 100%, 0 100%, 0 100%)
  }
  100% {
    opacity 1
    clip-path polygon(100% 0, 100% 100%, 0 100%, 0 0)
  }
}