.preloader
  dfv(center, center)
  pos fixed
  z-index 7
  w 100vw
  h 100vh
  t 0
  l 0
  bgc white
  &__imgover
    pos relative
  
.informer
  pos fixed
  z-index 8
  w 158px
  white-space nowrap
  r -104px
  b 54px
  pl 61px
  font-family $sans
  fontify 11px 700 11px
  text-transform uppercase
  letter-spacing .12em
  transform rotate(-90deg)
  transform-origin left bottom
  overflow hidden
  transition .7s visibility, .7s color, .7s opacity
  @media $PortraitMax
    r -134px
    b 21px
  &_middle
    dn()
  &:before
    content ""
    pos absolute
    l 0
    t 4px
    background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAABAQMAAACmH2/xAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABlBMVEUAAAD///+l2Z/dAAAAAWJLR0QB/wIt3gAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAtJREFUCNdjYIAAAAAIAAEvIN0xAAAAAElFTkSuQmCC') no-repeat 0 0
    size 50px 1px
    animation line 2s infinite ease-in-out 
    transition .7s background
    
@keyframes line {
  from {
    background-position 50px 0 
  }
  to {
    background-position -50px 0 
  }
}

.opening
  pos fixed
  z-index 4
  w 100vw
  h 100vh
  t 0
  l 0
  &__img
    pos absolute
    t 50%
    l 50%
    transform translate(-50%, -50%)
    dn()
    @media $desktopMax
      h 1000px
    @media $PortraitMax
      h 100vh
    &:first-child
      db()

.js-imgloader
  h 0
  overflow hidden
        
.bg
  pos fixed
  z-index 1
  bgc black
  full()
  df(stretch)
  &__left,
  &__right
    pos fixed
    h 100vh
    t 0
    overflow hidden
    background-position center bottom
    background-attachment fixed
    background-repeat no-repeat
    background-size cover
    /html.no-smil &
      transform translateZ(0)
  &__left
    l 0
    w 0
    dfv(center, flex-end)
    .handler__img
      l calc((100vw - 2217px) / 2)
      @media $desktopMax
        l calc((100vw - 1543px) / 2)
      @media $PortraitMax
        l calc((100vw - 785px) / 2)
      @media $Mobile370
        l calc((100vw - 628px) / 2)
  &__right
    &:not(&_f)
      r auto
      dn()
    w 0
    transition .7s filter
    r 0
    .handler__img
      r calc((100vw - 2217px) / 2)
      @media $desktopMax
        r calc((100vw - 1543px) / 2)
      @media $PortraitMax
        r calc((100vw - 785px) / 2)
      @media $Mobile370
        r calc((100vw - 628px) / 2)
    &_f
      w 100%
      flex-grow 1
      opacity .5
  &__table
    size 2880px 70px
    background-position center bottom
    background-attachment fixed
    background-repeat no-repeat
    @media $PortraitMax
      size 100vw 35px

html.touchevents .bg
  &__left
    .handler__img
      l calc((100vw - 2200px) / 2)
      @media $desktopMax
        l calc((100vw - 1526px) / 2)
      @media $PortraitMax
        l calc((100vw - 741px) / 2)
      @media $Mobile370
        l calc((100vw - 628px) / 2)
  &__right
    .handler__img
      r calc((100vw - 2200px) / 2)
      @media $desktopMax
        r calc((100vw - 1526px) / 2)
      @media $PortraitMax
        r calc((100vw - 741px) / 2)
      @media $Mobile370
        r calc((100vw - 628px) / 2)
          
body.iload
  .informer
    db()
    &:not(.informer_middle)
      dn()
    color white
    &:before
      background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAABAQMAAACmH2/xAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAA1BMVEX///+nxBvIAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAtJREFUCNdjYIAAAAAIAAEvIN0xAAAAAElFTkSuQmCC')
          
body.scroll 
  .bg__right
    w 100%
    db()
  .bg__right_f
    w 0

body:not(.iload)
  overflow-y scroll

.handler
  pos relative
  z-index 2
  h 0px
  &__fixer
    pos absolute
    t 0
    l 0
    w 100%
    h 100vh
    pointer-events none
    overflow hidden
  &__img
    pos absolute
    b 0
    @media $desktopMax
      h 680px
      b 21px
    @media $PortraitMax
      h 330px
      b 11px
    @media $Mobile370
      h 280px
      b 15px
  &__texts
    &.text1
      & ^[0]__text_text1
        visibility visible
        opacity 1
        span
          opacity 1
          clip-path polygon(100% 0, 100% 100%, 0 100%, 0 0)
          transition 2.7s clip-path, .75s opacity
        .handler__text-dsc
          opacity 1
          b 0
          transition-delay 1.7s
    &.text2
      & ^[0]__text_text2
        visibility visible
        opacity 1
        span
          opacity 1
          clip-path polygon(100% 0, 100% 100%, 0 100%, 0 0)
        .handler__text-dsc
          opacity 1
          b 0
          transition-delay .75s
    &.text3
      & ^[0]__text_text3
        visibility visible
        opacity 1
        span
          opacity 1
          clip-path polygon(100% 0, 100% 100%, 0 100%, 0 0)
        .handler__text-dsc
          opacity 1
          b 0
          transition-delay .75s
    &.text4
      & ^[0]__text_text4
        visibility visible
        opacity 1
        span
          opacity 1
          clip-path polygon(100% 0, 100% 100%, 0 100%, 0 0)
        .handler__text-dsc
          opacity 1
          b 0
          transition-delay .75s
    &.text5
      & ^[0]__text_text5
        visibility visible
        opacity 1
        span
          opacity 1
          clip-path polygon(100% 0, 100% 100%, 0 100%, 0 0)
        .handler__text-dsc
          opacity 1
          b 0
          transition-delay .75s
    &.text6
      & ^[0]__text_text6
        visibility visible
        opacity 1
        span
          opacity 1
          clip-path polygon(100% 0, 100% 100%, 0 100%, 0 0)
        .handler__text-dsc
          opacity 1
          b 0
          transition-delay .75s
  &__text
    pos fixed
    w 100%
    visibility hidden
    opacity 0
    color white
    text-align center
    transition .75s opacity, .75s visibility
    &_text1
      max-width 1158px
      t 50%
      l 50%
      transform translate(-50%, -50%)
      @media $lDesktopSmall
        max-width 908px
      @media $desktopMedium
        max-width 788px
      @media $LandscapeMedium
        padding 0 40px
        max-width 868px
      @media $PortraitMin
        padding 0 20px
        max-width 100%
      .handler__text-title
        fontify 160px 400 179px
        mb 20px
        @media $lDesktopSmall
          fontify 120px 400 139px
        @media $desktopMedium
          fontify 100px 400 129px
        @media $desktopMin
          fontify 90px 400 119px
          mb 10px
        @media $LandscapeMedium
          fontify 70px 400 99px
        @media $PortraitMax
          fontify 50px 400 79px
        @media $PortraitMedium
          fontify 40px 400 54px
        @media $PortraitMin
          fontify 36px 400 50px
        span + span
          mt -30px
          @media $desktopMedium
            mt -20px
          @media $PortraitMedium
            mt -10px
      .handler__text-dsc
        max-width 993px
        margin 0 auto
        // @media $desktopMin
        //   db()
        @media $PortraitMax
          fontify 18px 400 26px
        @media $PortraitMin
          fontify 17px 400 25px
    &_text2
      max-width 642px
      l 27%
      b 18%
      @media $lDesktopSmall
        max-width 472px
      @media $desktopMedium
        max-width 402px
      @media $desktopMin
        bottom auto
        t calc(10% + 60px)
        right auto
        l 50%
        transform translateX(-50%)
    &_text3
      max-width 762px
      r 12%
      t 12%
      @media $lDesktopSmall
        max-width 612px
        r 11%
      @media $desktopMedium
        r 8%
      @media $desktopMin
        max-width 500px
        t calc(10% + 90px)
      @media $LandscapeMedium
        max-width 360px
        bottom auto
        t calc(10% + 60px)
        right auto
        l 50%
        transform translateX(-50%)
    &_text4
      max-width 762px
      r 6%
      t 12%
      @media $lDesktopSmall
        max-width 612px
        r 4%
      @media $desktopMin
        max-width 500px
        t calc(10% + 90px)
      @media $LandscapeMedium
        max-width 360px
        bottom auto
        t calc(10% + 60px)
        right auto
        l 50%
        transform translateX(-50%)
    &_text5
      max-width 425px
      l 15%
      b 18%
      @media $lDesktopSmall
        max-width 365px
        l 10%
      @media $desktopMin
        max-width 295px
      @media $LandscapeMedium
        max-width 360px
        bottom auto
        t calc(10% + 60px)
        right auto
        l 50%
        transform translateX(-50%)
    &_text6
      max-width 530px
      r 24%
      t 19%
      @media $lDesktopSmall
        max-width 438px
      @media $LandscapeMedium
        max-width 360px
        bottom auto
        t calc(10% + 60px)
        right auto
        l 50%
        transform translateX(-50%)
    &-title
      font-family $lf
      fontify 100px 400 112px
      mb 30px
      @media $lDesktopSmall
        fontify 80px 400 84px
      @media $desktopMedium
        fontify 60px 400 64px
      // @media $desktopMin
      //   mb 0
      @media $LandscapeMedium
        fontify 40px 400 54px
        mb 15px
      @media $PortraitMin
        fontify 36px 400 50px
      span
        pos relative
        white-space nowrap
        db()
        w 100%
        clip-path polygon(100% 0, 100% 100%, 0 100%, 0 100%)
        opacity 0
        transition .75s clip-path, .75s opacity
        & + span
          mt -10px
    &-dsc
      pos relative
      b -20px
      fontify 28px 400 36px
      opacity 0
      transition .75s opacity, .75s bottom
      @media $lDesktopSmall
        fontify 21px 400 29px
      @media $LandscapeMedium
        fontify 18px 400 26px
      // @media $desktopMin
      //   dn()
    
.progress
  pos fixed
  z-index 3
  l 0
  t 0
  w 0
  h 0
  bgc #2b7308
  
html.touchevents .progress
  w 3px
  
.products
  pos fixed
  dfv(center, flex-end)
  full()
  z-index -1
  pb 58px
  opacity 0
  transition .7s opacity, .7s visibility
  /body.index &
    transition .7s opacity, .7s visibility, .7s .7s z-index
  @media $desktopMax
    pb 61px
  @media $PortraitMax
    pb 30px
  &_card
    b 0 
    l 0
    t auto
    z-index 1
    opacity 1
    z-index -1
    h 100vh
    background-size cover
    .bg__table
      pos absolute
      b 0
  &__car
    max-width 1035px
    margin 0 auto
    @media $desktopMax
      max-width 694px
    @media $PortraitMax
      max-width 330px
    @media $Mobile370
      max-width 265px
    &.swiper-container
      overflow visible
    .swiper-slide
      text-align center
  .swiper-button-prev
    l 54px
    @media $PortraitMax
      l 20px
      transform scale(.65) rotate(180deg)
      filter brightness(0) invert(1)
  .swiper-button-next
    r 54px
    @media $PortraitMax
      r 20px
      transform scale(.65)
      transform-origin right center
      filter brightness(0) invert(1)
  &__img
    pos relative
    t 0
    transform scale(1)
    will-change transform
    transition .7s transform, .7s top
    @media $desktopMax
      h 474px
    @media $PortraitMax
      h 244px
    @media $Mobile370
      h 195px
    
    
html:not(.touchevents) .products__img:hover
  transform scale(1.05)
  t -18px
  @media $desktopMax
    t -11px
  @media $PortraitMax
    t -5px    
  
.icat
  opacity 0
  visibility hidden
  pos fixed
  z-index 6
  r 0
  b 0
  size 130px
  color black
  bgc white
  font-family $sans
  fontify 11px 700 17px
  text-transform uppercase
  letter-spacing .12em
  padding 27px 30px
  transition .7s opacity, .7s visibility
  &_left
    l 0
    r auto
  @media $PortraitMax
    size 85px
    fontify 9px 700 15px
    padding 13px 16px
  &:after
    content ""
    pos absolute
    size 33px 17px
    l 31px
    b 28px
    background-image url('../i/arr_sprite.png')
    background-repeat no-repeat
    background-position 0 0
    @media $PortraitMax
      l 13px
      b 17px
  &_left:after
    transform scaleX(-1)
  &:hover:after
    animation arrAnimation 2s infinite steps(30)
    

@keyframes arrAnimation {
  0% {
    background-position 0 0
  }
  100% {
    background-position 0 -510px
  }
}
    
body.scrollEnd 
  .products
    z-index 2
    opacity 1
    visibility visible
    transition .7s opacity, .7s visibility
  .handler,
  .handler__img
    opacity 0
    transition .7s opacity
  .informer
    visibility hidden
    opacity 0
    //transition-delay .7s
  .icat
    opacity 1
    visibility visible
  
    
@keyframes titleAnimation {
  0% {
    opacity 0
    clip-path polygon(100% 0, 100% 100%, 0 100%, 0 100%)
  }
  100% {
    opacity 1
    clip-path polygon(100% 0, 100% 100%, 0 100%, 0 0)
  }
}

html.ios
  .handler__text-title span
    clip-path none
  .bg__left, .bg__right
    background-attachment initial