.news
  df()
  mt 480px
  pt 18px
  @media $desktopMax
    mt 400px
  @media $desktopTablet
    pt 0
    mt 0
    flex-direction column
  & + .pagination
    mb -142px
    @media $desktopTablet
      mb 0
  &__list,
  &__aside
    w calc(50% - 30px)
    @media $desktopMax
      w calc(50% - 24px)
    @media $desktopTablet
      w 100%
  &__sticky
    @media $desktopTablet
      position relative !important
      top 0 !important
      left 0 !important
      width 100% !important
  &__list
    ml 60px
    mt -480px
    &_videos
      & ^[0]__imgover
        &:before
          content ""
          pos absolute
          size 55px
          z-index 1
          b 30px
          l 30px
          bgc white
          border-radius 50%
          will-change transform
          transition .7s transform
          @media $LandscapeMin
            size 39px
            l 20px
            b 20px
        &:after
          content ""
          pos absolute
          z-index 2
          b 50px 
          l 55px
          size 8px 15px
          background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAPCAMAAADu1H4BAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAVFBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD///8UXluqAAAAGnRSTlMApjjmNELjMEfkLEsoUuAkViKWwFVRJSktOQQ4n1IAAAABYktHRBsCYNSkAAAACXBIWXMAAAsSAAALEgHS3X78AAAASElEQVQI11XNNw7AMAxDUTrFjlPk9Hb/g2b4WqJFDwREKVRi3rpxtDEBdbkHGuIINFkBmm0BWjewe3LY6VcXPfGmOaf/r/CwP8lWAxVdYSW1AAAAAElFTkSuQmCC') no-repeat center
          @media $LandscapeMin
            b 32px
            l 37px
        &:hover:before
          transform scale(1.1)
      & ^[0]__href
        border-bottom-style dotted
    @media $desktopMax
      mt -400px
      ml 48px
    @media $desktopTablet
      ml 0
      mt 0
  &__aside
    @media $desktopTabletFrom
      .breadcrumbs,
      h1:not([class])
        text-align left
      .breadcrumbs
        pl 0
      h1:not([class])
        ml -4px
    @media $desktopTablet
      height auto !important
  &__item
    df()
    w 100%
    mb 30px
    @media $desktopTabletFrom
      &_large
        w calc(200% + 60px)
        ml calc(-100% - 60px)
        mb 54px
        @media $desktopMax
          mb 46px
          w calc(200% + 48px)
          ml calc(-100% - 48px)
      &_large ^[0]__imgover
        w calc(50% - 30px)
        h 345px
        @media $desktopMax
          h 300px
      &_large ^[0]__content
        w calc(50% + 90px)
        padding 61px 50px 60px 120px
        min-height 347px
        @media $desktopMax
          w calc(50% + 78px)
          padding 46px 50px 53px 95px
          min-height 236px
      &_large ^[0]__date
        mb 11px
      &_large ^[0]__href
        fontify 36px 400 44px
        @media $desktopMax
          fontify 30px 400 38px
    @media $LandscapeMin
      flex-direction column
    @media $LandscapeMin
      mb 20px
  &__imgover
    db()
    size 50% 165px
    pos relative
    z-index 1
    overflow hidden
    @media $desktopTablet
      h 176px
    @media $LandscapeMin
      w 100%
      h 150px
  &__img
    pos absolute
    l 0
    t 0
    size 100%
    object-fit cover
    font-family 'object-fit: cover;'
    transition .7s opacity
    ^[0]__item:hover &
      opacity .8
  &__content
    w calc(55% + 60px)
    pos relative
    ml -60px
    bgc white
    padding 28px 35px 50px 90px
    min-height 164px
    mt 30px
    @media $desktopMax
      mt 25px
      ml -48px
      w calc(55% + 48px)
    @media $desktopTablet
      min-height 176px
    @media $LandscapeMin
      w 100%
      ml 0
      mt 0
      padding 25px 27px
      min-height inherit
  &__date
    font-family $sans
    fontify 11px 700 11px
    mb 8px
    text-transform uppercase
    letter-spacing .12em
  &__href
    c black
    fontify 20px 400 28px
    border-bottom 1px solid alpha(black, .25)
    transition .7s border
    @media $desktopMax
      fontify 18px 400 26px
    &:hover
      border-color transparent
    & > span
      pos relative
      t 4px
  &__about
    font-family $sans
    fontify 18px 400 26px
    mt 28px
    @media $desktopMax
      fontify 17px 400 25px
    @media $desktopTablet
      dn()
  &__bottom
    mt 60px
    df(center, space-between)
    @media $PortraitMin
      flex-direction column
      align-items flex-start
      justify-content flex-start
    &-date
      color black
      font-family $sans
      fontify 11px 700 11px
      text-transform uppercase
      letter-spacing .12em
    &-socials
      df(center, flex-start)
      color black
      font-family $sans
      fontify 11px 700 11px
      text-transform uppercase
      letter-spacing .12em
      @media $PortraitMin
        mt 40px
      .socials
        ml 36px
  &__back
    pos absolute
    z-index 1
    l 0
    b 0
    size 130px
    color black
    bgc white
    font-family $sans
    fontify 11px 700 17px
    text-transform uppercase
    letter-spacing .12em
    padding 27px 30px
    transition .7s opacity, .7s visibility
    @media $PortraitMax
      dn()
    &:after
      content ""
      pos absolute
      size 33px 17px
      l 31px
      b 28px
      background-image url('../i/arr_sprite.png')
      background-repeat no-repeat
      background-position 0 0
      transform scaleX(-1)
    &:hover:after
      animation arrAnimation 2s infinite steps(30)


.popup
  pos fixed
  z-index -1
  t 0
  l 0
  r 0
  b 0
  pointer-event none
  &.open
    z-index 9999
    pointer-events all
  &__close
    pos absolute
    r 0
    t 0
    bgc white
    size 130px
    z-index 1
    opacity 0
    cursor pointer
    background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAQAAABuvaSwAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjBBoOLCCe4bTbAAAAqUlEQVQoz5XTsRnCIBCG4Q9ZgBEyiYxAkxmcwVns7bBwBNpskQGcQYuIAe4Ij9fe2/z/PWemOzcS4/FcrHsRWViHNHK1bmUZck9kJlkHI/6lYB0c8x/NuM8LumOdV7TEkje0xjUXFMykB0JSDYPnCQR515NS1rt3G4nPPAgEIr5d1QE3OpP03mucaaf3EpdU5TtuqcIz1qjgG+7Rhlt3TCtu3YgW3PzzsB/zcW1aAJVLHgAAAABJRU5ErkJggg==') no-repeat center white
    @media $PortraitMax
      size 84px
    ^[0].open &
      opacity 1
      transition .7s .7s opacity
    &:hover
      bgc white
  &__bg
    pos absolute
    l 0
    t 100%
    size 100%
    bgc white
    transition .7s top
    ^[0].open &
      t 0
  &__content
    pos absolute
    t 0
    l 0
    r 0
    b 0
    opacity 0
    ^[0].open &
      opacity 1
      transition .7s .7s opacity
  &__video
    pos absolute
    w 100%
    min-height 100%
    b 0
    l 50%
    transform translateX(-50%)

.no-touchevents .popup-open
  overflow hidden
  mr 17px