@import "__vars.styl"

@import "__reset.styl"
@import "__fonts.styl"
@import "__common.styl"

@import "__swiper.styl"
@import "__fancy.styl"

@import "blocks/header.styl"
@import "blocks/footer.styl"
@import "blocks/index.styl"
@import "blocks/contacts.styl"
@import "blocks/where.styl"
@import "blocks/news.styl"
@import "blocks/about.styl"
@import "blocks/catalog.styl"
@import "blocks/pagination.styl"